.manage-patient-container {
  .m-p-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .manage-patient-body {
    padding: 10px 50px;


    .table-manage-patient{
        
    }
  }
}
