.intro-doctor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  .content-left {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .content-right {
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    .up {
      font-size: 18px;
      font-weight: 600;
    }
    .down {
      padding-top: 10px;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
.date--time {
  font-weight: 600;
  color: rgb(86, 85, 85);
  margin-top: -5px;
  margin-bottom: 3px;
}

.view-detail-doctor {
  margin-left: 60px;
  margin-top: 30px;
  font-size: 15px;
  .link-doctor {
    color: rgb(82, 80, 80);
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: rgb(20, 160, 102);
    }
  }
}

.price-clinic {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(119, 33, 33);
}
