.home-header-container {
  height: 90px;
  width: 100%;
  padding: 10px 50px;
  background-color: #fefafa;
  position: sticky;
  top: 0;
  z-index: 2;
  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .left-content {
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;

      .header-logo {
        background: url("../../assets/logo.svg") center center no-repeat;
        width: 60%;
        height: 80%;
        cursor: pointer;
      }
      .fa-bars {
        font-size: 25px;
        margin-right: 5px;
        color: gray;
        cursor: pointer;
      }
    }
    .center-content {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;

      .child-content {
        cursor: pointer;
        padding: 5px 10px;
        &:hover {
          border-radius: 10px;
          background-color: rgba(128, 128, 128, 0.151);
        }
        .subs-title {
          font-weight: 400;
          font-size: 13px;
          color: gray;
          margin-top: 5px;
        }
      }
    }
    .right-content {
      width: 25%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .support {
        padding-right: 50px;
        display: flex;
        align-items: center;
        .fa-question-circle {
          color: #19c5b3;
          margin-right: 5px;
          margin-left: 5px;
          font-size: 20px;
          cursor: pointer;
        }
      }
      .language-vi {
        cursor: pointer;
        color: rgba(128, 128, 128, 0.498);
        &.active {
          color: rgb(210, 6, 6);
          font-weight: 600;
        }
        &:hover {
          text-decoration: underline;
          color: rgb(210, 6, 6);
        }
      }
      .language-en {
        cursor: pointer;
        color: rgba(128, 128, 128, 0.498);
        margin-left: 10px;
        margin-right: 40px;

        &.active {
          color: green;
          font-weight: 600;
        }
        &:hover {
          text-decoration: underline;
          color: green;
        }
      }
    }
  }
}

.home-header-banner {
  margin-bottom: 20px;
  background-image: url("../../assets/header-background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 15px 0;

  .title1 {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 0 1px 1px black;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .title2 {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 1px black;
  }
  .search {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 20px auto 0 auto;

    input {
      height: 50px;
      width: 400px;
      border: none;
      border-radius: 30px;
      background-color: #f2da29ca;
      outline: none;
      padding-left: 50px;
      font-size: 16px;
      cursor: pointer;
    }
    .fa-search {
      position: absolute;
      font-size: 20px;
      left: 15px;
    }
  }
  .content-down {
    margin-top: 155px;
    height: 130px;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    );

    background-color: rgba(255, 255, 255, 0.72);
    .options {
      width: 65%;

      margin-left: auto;
      margin-right: auto;

      display: flex;
      justify-content: space-between;
      .option-child {
        width: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 25px;
        .icon-child {
          margin: 0 auto;
          i {
            font-size: 30px;
            background-color: #fff;
            height: 50px;
            border-radius: 50%;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #19c5b3;
          }
        }
        .text-child {
          font-size: 16px;
          font-weight: 500;
          color: black;
          text-shadow: 1px 1px 2px white;
          margin-top: 5px;
          transition: 0.3s;
          &:hover {
            color: #19c5b3;
            cursor: pointer;
          }
        }
      }
    }
  }
}
